* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    
    color: #ffffff;
     height: 100px;   
    padding: 0 40px;
    display: flex;
    
}

/* Brand logo and name */
.brand {
    display: flex;
    align-items: center;
    font-size: small;
    
}


    

.brand img {
    max-height: 70%;  
    height: 70px;     
    width: auto;
    object-fit: contain;       
    filter: drop-shadow(4px 4px 6px rgba(183, 183, 183, 0.6))
            drop-shadow(-2px -2px 4px rgba(13, 13, 13, 0.3));
    transform: perspective(500px) rotateX(5deg);

}

/* Nav links */
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    padding: 10px 15px;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.nav-links a:hover {
    background: #2e7be8;
    border-radius: 5px;
}

/*--serach -bar*/

.search-bar button {
    border: none;
    background: greenyellow;
    border-radius: 100px;
    cursor: pointer;
    font-size: 18px;
}

/* --- Hero Section --- */
.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-content {
    text-align: center;
    max-width: 800px;
    z-index: 40;
    padding: 0 20px;
}

.hero-content h1 {
    font-size: 2.rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 100px;
}

.hero-content p {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 30px;
}

.hero-content a {
    display: inline-block;
    padding: 15px 30px;
    background-color: #7fa514;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    border-radius: 8px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.hero-content a:hover {
    background-color: #0f5395;
}

.hero-section img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    z-index: 1;
}


/**/







